defaults: &defaults
  adapter: mysql2
  pool: 5
  timeout: 5000
  username: hamster
  password: hamster
  encoding: utf8

development:
  <<: *defaults
  database: email_lists

test:
  <<: *defaults
  database: email_lists_test
